body {
    background-image: url(img/faded-office.png);
    background-size: cover;
    font-family: "Open Sans", sans-serif;
    color: #020202;
    font-weight: 600;
}

#hero {
    width: 220px;
    padding: 15px 0 0 40px;
}

.title {
    font-weight: bolder;

}

.btn {
    font-family: inherit;
    background-color: #0ea5e9;
    border: none;
    color: white;
    padding: 15px 30px;
    margin: 10px 0 0 0;
    font-weight: bold;
}

.underline {
    border-bottom: 4px solid #0ea5e9;
}

